<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfy.modules.dissension.mapper.AndonRepairMoManMapper">

    <delete id="deleteByMainId" parameterType="java.lang.String">
        DELETE
        FROM qfy_andon_repair_mo_man
        WHERE mo_code = #{mainId}    </delete>

    <select id="selectByMainId" parameterType="java.lang.String"
            resultType="com.qfy.modules.dissension.entity.AndonRepairMoMan">
        SELECT *
        FROM qfy_andon_repair_mo_man
        WHERE mo_code = #{mainId}    </select>

    <select id="selectByPrincipal" resultType="com.qfy.modules.dissension.entity.AndonRepairMoMan">
        SELECT *
        FROM qfy_andon_repair_mo_man
        WHERE mo_code = #{code}
          and princi_pal = 1
    </select>
</mapper>
