@font-face {
  font-family: "iconfont"; /* Project id 4311634 */
  src: url('iconfont.woff2?t=1706608319531') format('woff2'),
       url('iconfont.woff?t=1706608319531') format('woff'),
       url('iconfont.ttf?t=1706608319531') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinyujifen:before {
  content: "\e8d8";
}

.icon-xiangcunlvyou-:before {
  content: "\e6dc";
}

.icon-daiwotianxie:before {
  content: "\e640";
}

.icon-xiajiantou:before {
  content: "\eb6d";
}

.icon-xiajiantou-copy:before {
  content: "\ec2f";
}

.icon-qiehuanchengshi:before {
  content: "\e8cd";
}

.icon-weizhixiangqing:before {
  content: "\e8ab";
}

.icon-jifen:before {
  content: "\e897";
}

.icon-tongpai:before {
  content: "\e607";
}

.icon-icon-test:before {
  content: "\e79a";
}

.icon-mengbanzu_3471:before {
  content: "\e60b";
}

.icon-qiehuan:before {
  content: "\e656";
}

.icon-canyu:before {
  content: "\e608";
}

.icon-erweima:before {
  content: "\eaf1";
}

.icon-huiyuanzuanshi:before {
  content: "\e7b0";
}

.icon-chuangjianwenti:before {
  content: "\e65a";
}

.icon-zuanshix:before {
  content: "\e6be";
}

.icon-zuanshibaoshi:before {
  content: "\e76f";
}

.icon-wofaqide:before {
  content: "\e60e";
}

.icon-ico:before {
  content: "\e646";
}

.icon-faqirenwupingyi:before {
  content: "\e65b";
}

.icon-ziyuan193:before {
  content: "\e715";
}

.icon-yewuliufaqibeifen2x:before {
  content: "\e605";
}

.icon-human-handsup:before {
  content: "\e88c";
}

.icon-paizhao:before {
  content: "\e620";
}

.icon-yijianfankui:before {
  content: "\e63b";
}

.icon-kefu:before {
  content: "\ec2e";
}

.icon-guanyuwomen:before {
  content: "\e610";
}

.icon-a-zu1319:before {
  content: "\e606";
}

.icon-wenjuantiaocha:before {
  content: "\e659";
}

.icon-dingwei1:before {
  content: "\e61f";
}

.icon-dingwei:before {
  content: "\e604";
}

.icon-shipinsheying:before {
  content: "\e6c6";
}

.icon-p_tupian:before {
  content: "\e679";
}

.icon-zhuye:before {
  content: "\e83a";
}

.icon-fanhui:before {
  content: "\e67a";
}

