<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfy.modules.city3d.mapper.MapPhotosMapper" >
  <resultMap id="BaseResultMap" type="com.qfy.modules.city3d.po.MapPhotos" >
    <id column="photo_id" property="photoId" jdbcType="VARCHAR" />
    <result column="photo_name" property="photoName" jdbcType="VARCHAR" />
    <result column="photo_pos" property="photoPos" jdbcType="VARCHAR" />
    <result column="photo_time" property="photoTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    photo_id, photo_name, photo_pos, photo_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qfy.modules.city3d.po.MapPhotosExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from map_photos
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from map_photos
    where photo_id = #{photoId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from map_photos
    where photo_id = #{photoId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.qfy.modules.city3d.po.MapPhotosExample" >
    delete from map_photos
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qfy.modules.city3d.po.MapPhotos" >
    insert into map_photos (photo_id, photo_name, photo_pos,
      photo_time)
    values (#{photoId,jdbcType=VARCHAR}, #{photoName,jdbcType=VARCHAR}, #{photoPos,jdbcType=VARCHAR},
      #{photoTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qfy.modules.city3d.po.MapPhotos" >
    insert into map_photos
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="photoId != null" >
        photo_id,
      </if>
      <if test="photoName != null" >
        photo_name,
      </if>
      <if test="photoPos != null" >
        photo_pos,
      </if>
      <if test="photoTime != null" >
        photo_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="photoId != null" >
        #{photoId,jdbcType=VARCHAR},
      </if>
      <if test="photoName != null" >
        #{photoName,jdbcType=VARCHAR},
      </if>
      <if test="photoPos != null" >
        #{photoPos,jdbcType=VARCHAR},
      </if>
      <if test="photoTime != null" >
        #{photoTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qfy.modules.city3d.po.MapPhotosExample" resultType="java.lang.Integer" >
    select count(*) from map_photos
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update map_photos
    <set >
      <if test="record.photoId != null" >
        photo_id = #{record.photoId,jdbcType=VARCHAR},
      </if>
      <if test="record.photoName != null" >
        photo_name = #{record.photoName,jdbcType=VARCHAR},
      </if>
      <if test="record.photoPos != null" >
        photo_pos = #{record.photoPos,jdbcType=VARCHAR},
      </if>
      <if test="record.photoTime != null" >
        photo_time = #{record.photoTime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update map_photos
    set photo_id = #{record.photoId,jdbcType=VARCHAR},
      photo_name = #{record.photoName,jdbcType=VARCHAR},
      photo_pos = #{record.photoPos,jdbcType=VARCHAR},
      photo_time = #{record.photoTime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfy.modules.city3d.po.MapPhotos" >
    update map_photos
    <set >
      <if test="photoName != null" >
        photo_name = #{photoName,jdbcType=VARCHAR},
      </if>
      <if test="photoPos != null" >
        photo_pos = #{photoPos,jdbcType=VARCHAR},
      </if>
      <if test="photoTime != null" >
        photo_time = #{photoTime,jdbcType=VARCHAR},
      </if>
    </set>
    where photo_id = #{photoId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfy.modules.city3d.po.MapPhotos" >
    update map_photos
    set photo_name = #{photoName,jdbcType=VARCHAR},
      photo_pos = #{photoPos,jdbcType=VARCHAR},
      photo_time = #{photoTime,jdbcType=VARCHAR}
    where photo_id = #{photoId,jdbcType=VARCHAR}
  </update>
</mapper>
