<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfy.modules.city3d.mapper.ModelMapper" >
  <resultMap id="BaseResultMap" type="com.qfy.modules.city3d.po.Model" >
    <id column="model_id" property="modelId" jdbcType="VARCHAR" />
    <result column="model_name" property="modelName" jdbcType="VARCHAR" />
    <result column="model_dep" property="modelDep" jdbcType="VARCHAR" />
    <result column="model_url" property="modelUrl" jdbcType="VARCHAR" />
    <result column="model_img" property="modelImg" jdbcType="VARCHAR" />
    <result column="model_scale" property="modelScale" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    model_id, model_name, model_dep, model_url, model_img, model_scale
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qfy.modules.city3d.po.ModelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from model
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from model
    where model_id = #{modelId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from model
    where model_id = #{modelId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.qfy.modules.city3d.po.ModelExample" >
    delete from model
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qfy.modules.city3d.po.Model" >
    insert into model (model_id, model_name, model_dep,
      model_url, model_img, model_scale
      )
    values (#{modelId,jdbcType=VARCHAR}, #{modelName,jdbcType=VARCHAR}, #{modelDep,jdbcType=VARCHAR},
      #{modelUrl,jdbcType=VARCHAR}, #{modelImg,jdbcType=VARCHAR}, #{modelScale,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qfy.modules.city3d.po.Model" >
    insert into model
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="modelId != null" >
        model_id,
      </if>
      <if test="modelName != null" >
        model_name,
      </if>
      <if test="modelDep != null" >
        model_dep,
      </if>
      <if test="modelUrl != null" >
        model_url,
      </if>
      <if test="modelImg != null" >
        model_img,
      </if>
      <if test="modelScale != null" >
        model_scale,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="modelId != null" >
        #{modelId,jdbcType=VARCHAR},
      </if>
      <if test="modelName != null" >
        #{modelName,jdbcType=VARCHAR},
      </if>
      <if test="modelDep != null" >
        #{modelDep,jdbcType=VARCHAR},
      </if>
      <if test="modelUrl != null" >
        #{modelUrl,jdbcType=VARCHAR},
      </if>
      <if test="modelImg != null" >
        #{modelImg,jdbcType=VARCHAR},
      </if>
      <if test="modelScale != null" >
        #{modelScale,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qfy.modules.city3d.po.ModelExample" resultType="java.lang.Integer" >
    select count(*) from model
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update model
    <set >
      <if test="record.modelId != null" >
        model_id = #{record.modelId,jdbcType=VARCHAR},
      </if>
      <if test="record.modelName != null" >
        model_name = #{record.modelName,jdbcType=VARCHAR},
      </if>
      <if test="record.modelDep != null" >
        model_dep = #{record.modelDep,jdbcType=VARCHAR},
      </if>
      <if test="record.modelUrl != null" >
        model_url = #{record.modelUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.modelImg != null" >
        model_img = #{record.modelImg,jdbcType=VARCHAR},
      </if>
      <if test="record.modelScale != null" >
        model_scale = #{record.modelScale,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update model
    set model_id = #{record.modelId,jdbcType=VARCHAR},
      model_name = #{record.modelName,jdbcType=VARCHAR},
      model_dep = #{record.modelDep,jdbcType=VARCHAR},
      model_url = #{record.modelUrl,jdbcType=VARCHAR},
      model_img = #{record.modelImg,jdbcType=VARCHAR},
      model_scale = #{record.modelScale,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfy.modules.city3d.po.Model" >
    update model
    <set >
      <if test="modelName != null" >
        model_name = #{modelName,jdbcType=VARCHAR},
      </if>
      <if test="modelDep != null" >
        model_dep = #{modelDep,jdbcType=VARCHAR},
      </if>
      <if test="modelUrl != null" >
        model_url = #{modelUrl,jdbcType=VARCHAR},
      </if>
      <if test="modelImg != null" >
        model_img = #{modelImg,jdbcType=VARCHAR},
      </if>
      <if test="modelScale != null" >
        model_scale = #{modelScale,jdbcType=VARCHAR},
      </if>
    </set>
    where model_id = #{modelId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfy.modules.city3d.po.Model" >
    update model
    set model_name = #{modelName,jdbcType=VARCHAR},
      model_dep = #{modelDep,jdbcType=VARCHAR},
      model_url = #{modelUrl,jdbcType=VARCHAR},
      model_img = #{modelImg,jdbcType=VARCHAR},
      model_scale = #{modelScale,jdbcType=VARCHAR}
    where model_id = #{modelId,jdbcType=VARCHAR}
  </update>
</mapper>
