<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfy.modules.city3d.mapper.NetMapper" >
  <resultMap id="BaseResultMap" type="com.qfy.modules.city3d.po.Net" >
    <id column="net_id" property="netId" jdbcType="VARCHAR" />
    <result column="net_pid" property="netPid" jdbcType="VARCHAR" />
    <result column="net_poi" property="netPoi" jdbcType="VARCHAR" />
    <result column="net_level" property="netLevel" jdbcType="VARCHAR" />
    <result column="net_name" property="netName" jdbcType="VARCHAR" />
    <result column="net_center" property="netCenter" jdbcType="VARCHAR" />
    <result column="net_color" property="netColor" jdbcType="VARCHAR" />
    <result column="net_master" property="netMaster" jdbcType="VARCHAR" />
    <result column="net_listener" property="netListener" jdbcType="VARCHAR" />
    <result column="net_base_people" property="netBasePeople" jdbcType="VARCHAR" />
    <result column="net_hold_people" property="netHoldPeople" jdbcType="VARCHAR" />
    <result column="net_flow_people" property="netFlowPeople" jdbcType="VARCHAR" />
    <result column="net_group" property="netGroup" jdbcType="VARCHAR" />
    <result column="net_note" property="netNote" jdbcType="VARCHAR" />
    <result column="net_com" property="netCom" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    net_id, net_pid, net_poi, net_level, net_name, net_center, net_color, net_master,
    net_listener, net_base_people, net_hold_people, net_flow_people, net_group, net_note,
    net_com
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qfy.modules.city3d.po.NetExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from net
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from net
    where net_id = #{netId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from net
    where net_id = #{netId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.qfy.modules.city3d.po.NetExample" >
    delete from net
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <!--<insert id="insert" parameterType="com.qfy.modules.city3d.po.Net" >
    insert into net (net_id, net_pid, net_poi,
      net_level, net_name, net_center,
      net_color, net_master, net_listener,
      net_base_people, net_hold_people, net_flow_people,
      net_group, net_note, net_com
      )
    values (#{netId,jdbcType=VARCHAR}, #{netPid,jdbcType=VARCHAR}, #{netPoi,jdbcType=VARCHAR},
      #{netLevel,jdbcType=VARCHAR}, #{netName,jdbcType=VARCHAR}, #{netCenter,jdbcType=VARCHAR},
      #{netColor,jdbcType=VARCHAR}, #{netMaster,jdbcType=VARCHAR}, #{netListener,jdbcType=VARCHAR},
      #{netBasePeople,jdbcType=VARCHAR}, #{netHoldPeople,jdbcType=VARCHAR}, #{netFlowPeople,jdbcType=VARCHAR},
      #{netGroup,jdbcType=VARCHAR}, #{netNote,jdbcType=VARCHAR}, #{netCom,jdbcType=VARCHAR}
      )
  </insert>-->
  <insert id="insertSelective" parameterType="com.qfy.modules.city3d.po.Net" >
    insert into net
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="netId != null" >
        net_id,
      </if>
      <if test="netPid != null" >
        net_pid,
      </if>
      <if test="netPoi != null" >
        net_poi,
      </if>
      <if test="netLevel != null" >
        net_level,
      </if>
      <if test="netName != null" >
        net_name,
      </if>
      <if test="netCenter != null" >
        net_center,
      </if>
      <if test="netColor != null" >
        net_color,
      </if>
      <if test="netMaster != null" >
        net_master,
      </if>
      <if test="netListener != null" >
        net_listener,
      </if>
      <if test="netBasePeople != null" >
        net_base_people,
      </if>
      <if test="netHoldPeople != null" >
        net_hold_people,
      </if>
      <if test="netFlowPeople != null" >
        net_flow_people,
      </if>
      <if test="netGroup != null" >
        net_group,
      </if>
      <if test="netNote != null" >
        net_note,
      </if>
      <if test="netCom != null" >
        net_com,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="netId != null" >
        #{netId,jdbcType=VARCHAR},
      </if>
      <if test="netPid != null" >
        #{netPid,jdbcType=VARCHAR},
      </if>
      <if test="netPoi != null" >
        #{netPoi,jdbcType=VARCHAR},
      </if>
      <if test="netLevel != null" >
        #{netLevel,jdbcType=VARCHAR},
      </if>
      <if test="netName != null" >
        #{netName,jdbcType=VARCHAR},
      </if>
      <if test="netCenter != null" >
        #{netCenter,jdbcType=VARCHAR},
      </if>
      <if test="netColor != null" >
        #{netColor,jdbcType=VARCHAR},
      </if>
      <if test="netMaster != null" >
        #{netMaster,jdbcType=VARCHAR},
      </if>
      <if test="netListener != null" >
        #{netListener,jdbcType=VARCHAR},
      </if>
      <if test="netBasePeople != null" >
        #{netBasePeople,jdbcType=VARCHAR},
      </if>
      <if test="netHoldPeople != null" >
        #{netHoldPeople,jdbcType=VARCHAR},
      </if>
      <if test="netFlowPeople != null" >
        #{netFlowPeople,jdbcType=VARCHAR},
      </if>
      <if test="netGroup != null" >
        #{netGroup,jdbcType=VARCHAR},
      </if>
      <if test="netNote != null" >
        #{netNote,jdbcType=VARCHAR},
      </if>
      <if test="netCom != null" >
        #{netCom,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qfy.modules.city3d.po.NetExample" resultType="java.lang.Integer" >
    select count(*) from net
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update net
    <set >
      <if test="record.netId != null" >
        net_id = #{record.netId,jdbcType=VARCHAR},
      </if>
      <if test="record.netPid != null" >
        net_pid = #{record.netPid,jdbcType=VARCHAR},
      </if>
      <if test="record.netPoi != null" >
        net_poi = #{record.netPoi,jdbcType=VARCHAR},
      </if>
      <if test="record.netLevel != null" >
        net_level = #{record.netLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.netName != null" >
        net_name = #{record.netName,jdbcType=VARCHAR},
      </if>
      <if test="record.netCenter != null" >
        net_center = #{record.netCenter,jdbcType=VARCHAR},
      </if>
      <if test="record.netColor != null" >
        net_color = #{record.netColor,jdbcType=VARCHAR},
      </if>
      <if test="record.netMaster != null" >
        net_master = #{record.netMaster,jdbcType=VARCHAR},
      </if>
      <if test="record.netListener != null" >
        net_listener = #{record.netListener,jdbcType=VARCHAR},
      </if>
      <if test="record.netBasePeople != null" >
        net_base_people = #{record.netBasePeople,jdbcType=VARCHAR},
      </if>
      <if test="record.netHoldPeople != null" >
        net_hold_people = #{record.netHoldPeople,jdbcType=VARCHAR},
      </if>
      <if test="record.netFlowPeople != null" >
        net_flow_people = #{record.netFlowPeople,jdbcType=VARCHAR},
      </if>
      <if test="record.netGroup != null" >
        net_group = #{record.netGroup,jdbcType=VARCHAR},
      </if>
      <if test="record.netNote != null" >
        net_note = #{record.netNote,jdbcType=VARCHAR},
      </if>
      <if test="record.netCom != null" >
        net_com = #{record.netCom,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update net
    set net_id = #{record.netId,jdbcType=VARCHAR},
      net_pid = #{record.netPid,jdbcType=VARCHAR},
      net_poi = #{record.netPoi,jdbcType=VARCHAR},
      net_level = #{record.netLevel,jdbcType=VARCHAR},
      net_name = #{record.netName,jdbcType=VARCHAR},
      net_center = #{record.netCenter,jdbcType=VARCHAR},
      net_color = #{record.netColor,jdbcType=VARCHAR},
      net_master = #{record.netMaster,jdbcType=VARCHAR},
      net_listener = #{record.netListener,jdbcType=VARCHAR},
      net_base_people = #{record.netBasePeople,jdbcType=VARCHAR},
      net_hold_people = #{record.netHoldPeople,jdbcType=VARCHAR},
      net_flow_people = #{record.netFlowPeople,jdbcType=VARCHAR},
      net_group = #{record.netGroup,jdbcType=VARCHAR},
      net_note = #{record.netNote,jdbcType=VARCHAR},
      net_com = #{record.netCom,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfy.modules.city3d.po.Net" >
    update net
    <set >
      <if test="netPid != null" >
        net_pid = #{netPid,jdbcType=VARCHAR},
      </if>
      <if test="netPoi != null" >
        net_poi = #{netPoi,jdbcType=VARCHAR},
      </if>
      <if test="netLevel != null" >
        net_level = #{netLevel,jdbcType=VARCHAR},
      </if>
      <if test="netName != null" >
        net_name = #{netName,jdbcType=VARCHAR},
      </if>
      <if test="netCenter != null" >
        net_center = #{netCenter,jdbcType=VARCHAR},
      </if>
      <if test="netColor != null" >
        net_color = #{netColor,jdbcType=VARCHAR},
      </if>
      <if test="netMaster != null" >
        net_master = #{netMaster,jdbcType=VARCHAR},
      </if>
      <if test="netListener != null" >
        net_listener = #{netListener,jdbcType=VARCHAR},
      </if>
      <if test="netBasePeople != null" >
        net_base_people = #{netBasePeople,jdbcType=VARCHAR},
      </if>
      <if test="netHoldPeople != null" >
        net_hold_people = #{netHoldPeople,jdbcType=VARCHAR},
      </if>
      <if test="netFlowPeople != null" >
        net_flow_people = #{netFlowPeople,jdbcType=VARCHAR},
      </if>
      <if test="netGroup != null" >
        net_group = #{netGroup,jdbcType=VARCHAR},
      </if>
      <if test="netNote != null" >
        net_note = #{netNote,jdbcType=VARCHAR},
      </if>
      <if test="netCom != null" >
        net_com = #{netCom,jdbcType=VARCHAR},
      </if>
    </set>
    where net_id = #{netId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfy.modules.city3d.po.Net" >
    update net
    set net_pid = #{netPid,jdbcType=VARCHAR},
      net_poi = #{netPoi,jdbcType=VARCHAR},
      net_level = #{netLevel,jdbcType=VARCHAR},
      net_name = #{netName,jdbcType=VARCHAR},
      net_center = #{netCenter,jdbcType=VARCHAR},
      net_color = #{netColor,jdbcType=VARCHAR},
      net_master = #{netMaster,jdbcType=VARCHAR},
      net_listener = #{netListener,jdbcType=VARCHAR},
      net_base_people = #{netBasePeople,jdbcType=VARCHAR},
      net_hold_people = #{netHoldPeople,jdbcType=VARCHAR},
      net_flow_people = #{netFlowPeople,jdbcType=VARCHAR},
      net_group = #{netGroup,jdbcType=VARCHAR},
      net_note = #{netNote,jdbcType=VARCHAR},
      net_com = #{netCom,jdbcType=VARCHAR}
    where net_id = #{netId,jdbcType=VARCHAR}
  </update>
  <delete id="batchDelete" parameterType="java.util.List" >
    delete from net where net_id in
    <foreach collection="list" item="item" separator="," open="(" close=")">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </delete>
</mapper>
