<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfy.modules.city3d.mapper.PeopleMachineMapper" >
  <resultMap id="BaseResultMap" type="com.qfy.modules.city3d.po.PeopleMachine" >
    <id column="machine_id" property="machineId" jdbcType="VARCHAR" />
    <result column="pp_id" property="ppId" jdbcType="VARCHAR" />
    <result column="qr_code" property="qrCode" jdbcType="VARCHAR" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="machine_type" property="machineType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    machine_id, pp_id, qr_code, img_url, remark, machine_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qfy.modules.city3d.po.PeopleMachineExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from people_machine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from people_machine
    where machine_id = #{machineId,jdbcType=VARCHAR}
  </select>
  <select id="selectPeopleMachineById" resultMap="BaseResultMap" parameterType="com.qfy.modules.city3d.po.PeopleMachineExample" >
    select
    <include refid="Base_Column_List" />
    from people_machine
    where pp_id = #{ppId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from people_machine
    where machine_id = #{machineId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.qfy.modules.city3d.po.PeopleMachineExample" >
    delete from people_machine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qfy.modules.city3d.po.PeopleMachine" >
    insert into people_machine (machine_id, pp_id, qr_code,
      img_url, remark, machine_type
      )
    values (#{machineId,jdbcType=VARCHAR}, #{ppId,jdbcType=VARCHAR}, #{qrCode,jdbcType=VARCHAR},
      #{imgUrl,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{machineType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qfy.modules.city3d.po.PeopleMachine" >
    insert into people_machine
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="machineId != null" >
        machine_id,
      </if>
      <if test="ppId != null" >
        pp_id,
      </if>
      <if test="qrCode != null" >
        qr_code,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="machineType != null" >
        machine_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="machineId != null" >
        #{machineId,jdbcType=VARCHAR},
      </if>
      <if test="ppId != null" >
        #{ppId,jdbcType=VARCHAR},
      </if>
      <if test="qrCode != null" >
        #{qrCode,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="machineType != null" >
        #{machineType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qfy.modules.city3d.po.PeopleMachineExample" resultType="java.lang.Integer" >
    select count(*) from people_machine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update people_machine
    <set >
      <if test="record.machineId != null" >
        machine_id = #{record.machineId,jdbcType=VARCHAR},
      </if>
      <if test="record.ppId != null" >
        pp_id = #{record.ppId,jdbcType=VARCHAR},
      </if>
      <if test="record.qrCode != null" >
        qr_code = #{record.qrCode,jdbcType=VARCHAR},
      </if>
      <if test="record.imgUrl != null" >
        img_url = #{record.imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.machineType != null" >
        machine_type = #{record.machineType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update people_machine
    set machine_id = #{record.machineId,jdbcType=VARCHAR},
      pp_id = #{record.ppId,jdbcType=VARCHAR},
      qr_code = #{record.qrCode,jdbcType=VARCHAR},
      img_url = #{record.imgUrl,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      machine_type = #{record.machineType,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfy.modules.city3d.po.PeopleMachine" >
    update people_machine
    <set >
      <if test="ppId != null" >
        pp_id = #{ppId,jdbcType=VARCHAR},
      </if>
      <if test="qrCode != null" >
        qr_code = #{qrCode,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="machineType != null" >
        machine_type = #{machineType,jdbcType=VARCHAR},
      </if>
    </set>
    where machine_id = #{machineId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfy.modules.city3d.po.PeopleMachine" >
    update people_machine
    set pp_id = #{ppId,jdbcType=VARCHAR},
      qr_code = #{qrCode,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      machine_type = #{machineType,jdbcType=VARCHAR}
    where machine_id = #{machineId,jdbcType=VARCHAR}
  </update>
</mapper>
