<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfy.modules.city3d.mapper.SecurityMapper" >
  <resultMap id="BaseResultMap" type="com.qfy.modules.city3d.po.Security" >
    <id column="security_id" property="securityId" jdbcType="VARCHAR" />
    <result column="security_name" property="securityName" jdbcType="VARCHAR" />
    <result column="security_type" property="securityType" jdbcType="VARCHAR" />
    <result column="security_police_id" property="securityPoliceId" jdbcType="VARCHAR" />
    <result column="security_tel" property="securityTel" jdbcType="VARCHAR" />
    <result column="security_describe" property="securityDescribe" jdbcType="VARCHAR" />
    <result column="security_poi" property="securityPoi" jdbcType="VARCHAR" />
    <result column="security_center" property="securityCenter" jdbcType="VARCHAR" />
    <result column="security_video_id" property="securityVideoId" jdbcType="VARCHAR" />
    <result column="equipment_id" property="equipmentId" jdbcType="VARCHAR" />
    <result column="security_community" property="securityCommunity" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    security_id, security_name, security_type, security_police_id, security_tel, security_describe,
    security_poi, security_center, security_video_id, equipment_id, security_community
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qfy.modules.city3d.po.SecurityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from security
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from security
    where security_id = #{securityId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from security
    where security_id = #{securityId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.qfy.modules.city3d.po.SecurityExample" >
    delete from security
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qfy.modules.city3d.po.Security" >
    insert into security (security_id, security_name, security_type,
      security_police_id, security_tel, security_describe,
      security_poi, security_center, security_video_id,
      equipment_id, security_community)
    values (#{securityId,jdbcType=VARCHAR}, #{securityName,jdbcType=VARCHAR}, #{securityType,jdbcType=VARCHAR},
      #{securityPoliceId,jdbcType=VARCHAR}, #{securityTel,jdbcType=VARCHAR}, #{securityDescribe,jdbcType=VARCHAR},
      #{securityPoi,jdbcType=VARCHAR}, #{securityCenter,jdbcType=VARCHAR}, #{securityVideoId,jdbcType=VARCHAR},
      #{equipmentId,jdbcType=VARCHAR}, #{securityCommunity,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qfy.modules.city3d.po.Security" >
    insert into security
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="securityId != null" >
        security_id,
      </if>
      <if test="securityName != null" >
        security_name,
      </if>
      <if test="securityType != null" >
        security_type,
      </if>
      <if test="securityPoliceId != null" >
        security_police_id,
      </if>
      <if test="securityTel != null" >
        security_tel,
      </if>
      <if test="securityDescribe != null" >
        security_describe,
      </if>
      <if test="securityPoi != null" >
        security_poi,
      </if>
      <if test="securityCenter != null" >
        security_center,
      </if>
      <if test="securityVideoId != null" >
        security_video_id,
      </if>
      <if test="equipmentId != null" >
        equipment_id,
      </if>
      <if test="securityCommunity != null" >
        security_community,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="securityId != null" >
        #{securityId,jdbcType=VARCHAR},
      </if>
      <if test="securityName != null" >
        #{securityName,jdbcType=VARCHAR},
      </if>
      <if test="securityType != null" >
        #{securityType,jdbcType=VARCHAR},
      </if>
      <if test="securityPoliceId != null" >
        #{securityPoliceId,jdbcType=VARCHAR},
      </if>
      <if test="securityTel != null" >
        #{securityTel,jdbcType=VARCHAR},
      </if>
      <if test="securityDescribe != null" >
        #{securityDescribe,jdbcType=VARCHAR},
      </if>
      <if test="securityPoi != null" >
        #{securityPoi,jdbcType=VARCHAR},
      </if>
      <if test="securityCenter != null" >
        #{securityCenter,jdbcType=VARCHAR},
      </if>
      <if test="securityVideoId != null" >
        #{securityVideoId,jdbcType=VARCHAR},
      </if>
      <if test="equipmentId != null" >
        #{equipmentId,jdbcType=VARCHAR},
      </if>
      <if test="securityCommunity != null" >
        #{securityCommunity,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qfy.modules.city3d.po.SecurityExample" resultType="java.lang.Integer" >
    select count(*) from security
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update security
    <set >
      <if test="record.securityId != null" >
        security_id = #{record.securityId,jdbcType=VARCHAR},
      </if>
      <if test="record.securityName != null" >
        security_name = #{record.securityName,jdbcType=VARCHAR},
      </if>
      <if test="record.securityType != null" >
        security_type = #{record.securityType,jdbcType=VARCHAR},
      </if>
      <if test="record.securityPoliceId != null" >
        security_police_id = #{record.securityPoliceId,jdbcType=VARCHAR},
      </if>
      <if test="record.securityTel != null" >
        security_tel = #{record.securityTel,jdbcType=VARCHAR},
      </if>
      <if test="record.securityDescribe != null" >
        security_describe = #{record.securityDescribe,jdbcType=VARCHAR},
      </if>
      <if test="record.securityPoi != null" >
        security_poi = #{record.securityPoi,jdbcType=VARCHAR},
      </if>
      <if test="record.securityCenter != null" >
        security_center = #{record.securityCenter,jdbcType=VARCHAR},
      </if>
      <if test="record.securityVideoId != null" >
        security_video_id = #{record.securityVideoId,jdbcType=VARCHAR},
      </if>
      <if test="record.equipmentId != null" >
        equipment_id = #{record.equipmentId,jdbcType=VARCHAR},
      </if>
      <if test="record.securityCommunity != null" >
        security_community = #{record.securityCommunity,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update security
    set security_id = #{record.securityId,jdbcType=VARCHAR},
      security_name = #{record.securityName,jdbcType=VARCHAR},
      security_type = #{record.securityType,jdbcType=VARCHAR},
      security_police_id = #{record.securityPoliceId,jdbcType=VARCHAR},
      security_tel = #{record.securityTel,jdbcType=VARCHAR},
      security_describe = #{record.securityDescribe,jdbcType=VARCHAR},
      security_poi = #{record.securityPoi,jdbcType=VARCHAR},
      security_center = #{record.securityCenter,jdbcType=VARCHAR},
      security_video_id = #{record.securityVideoId,jdbcType=VARCHAR},
      equipment_id = #{record.equipmentId,jdbcType=VARCHAR},
      security_community = #{record.securityCommunity,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfy.modules.city3d.po.Security" >
    update security
    <set >
      <if test="securityName != null" >
        security_name = #{securityName,jdbcType=VARCHAR},
      </if>
      <if test="securityType != null" >
        security_type = #{securityType,jdbcType=VARCHAR},
      </if>
      <if test="securityPoliceId != null" >
        security_police_id = #{securityPoliceId,jdbcType=VARCHAR},
      </if>
      <if test="securityTel != null" >
        security_tel = #{securityTel,jdbcType=VARCHAR},
      </if>
      <if test="securityDescribe != null" >
        security_describe = #{securityDescribe,jdbcType=VARCHAR},
      </if>
      <if test="securityPoi != null" >
        security_poi = #{securityPoi,jdbcType=VARCHAR},
      </if>
      <if test="securityCenter != null" >
        security_center = #{securityCenter,jdbcType=VARCHAR},
      </if>
      <if test="securityVideoId != null" >
        security_video_id = #{securityVideoId,jdbcType=VARCHAR},
      </if>
      <if test="equipmentId != null" >
        equipment_id = #{equipmentId,jdbcType=VARCHAR},
      </if>
      <if test="securityCommunity != null" >
        security_community = #{securityCommunity,jdbcType=VARCHAR},
      </if>
    </set>
    where security_id = #{securityId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfy.modules.city3d.po.Security" >
    update security
    set security_name = #{securityName,jdbcType=VARCHAR},
      security_type = #{securityType,jdbcType=VARCHAR},
      security_police_id = #{securityPoliceId,jdbcType=VARCHAR},
      security_tel = #{securityTel,jdbcType=VARCHAR},
      security_describe = #{securityDescribe,jdbcType=VARCHAR},
      security_poi = #{securityPoi,jdbcType=VARCHAR},
      security_center = #{securityCenter,jdbcType=VARCHAR},
      security_video_id = #{securityVideoId,jdbcType=VARCHAR},
      equipment_id = #{equipmentId,jdbcType=VARCHAR},
      security_community = #{securityCommunity,jdbcType=VARCHAR}
    where security_id = #{securityId,jdbcType=VARCHAR}
  </update>
</mapper>
