<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfy.modules.city3d.mapper.VehicleRealDataMapper">
  <resultMap id="BaseResultMap" type="com.qfy.modules.city3d.po.VehicleRealData">
    <id column="ID" jdbcType="INTEGER" property="iD" />
    <result column="vehicleId" jdbcType="INTEGER" property="vehicleId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="plateNo" jdbcType="VARCHAR" property="plateNo" />
    <result column="simNo" jdbcType="VARCHAR" property="simNo" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="sendTime" jdbcType="DATE" property="sendTime" />
    <result column="updateDate" jdbcType="DATE" property="updateDate" />
    <result column="longitude" jdbcType="VARCHAR" property="longitude" />
  	<result column="latitude" jdbcType="VARCHAR" property="latitude" />
	<result column="velocity" jdbcType="VARCHAR" property="velocity" />
	<result column="direction" jdbcType="INTEGER" property="direction" />
	<result column="altitude" jdbcType="VARCHAR" property="altitude" />
	<result column="recordVelocity" jdbcType="VARCHAR" property="recordVelocity" />
	<result column="gas" jdbcType="VARCHAR" property="gas" />
	<result column="mileage" jdbcType="VARCHAR" property="mileage" />
	<result column="valid" jdbcType="BOOLEAN" property="valid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, vehicleId, status, plateNo, simNo, location, sendTime, updateDate, longitude,
    latitude,velocity,direction,altitude,recordVelocity,gas,mileage,valid
  </sql>
  <select id="selectByExample" parameterType="com.qfy.modules.city3d.po.VehicleRealDataExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from GPSRealData
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from GPSRealData
    where ID = #{iD,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from GPSRealData
    where ID = #{iD,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.qfy.modules.city3d.po.VehicleRealDataExample">
    delete from GPSRealData
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qfy.modules.city3d.po.VehicleRealData">
    insert into GPSRealData (ID, vehicleId, status, plateNo, simNo, location, sendTime, updateDate, longitude,
    latitude,velocity,direction,altitude,recordVelocity,gas,mileage,valid)
    values (#{iD,jdbcType=INTEGER}, #{vehicleId,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR},
      #{plateNo,jdbcType=VARCHAR}, #{simNo,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, #{sendTime,jdbcType=DATE},
      #{updateDate,jdbcType=DATE}, #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}, #{velocity,jdbcType=VARCHAR},
      #{direction,jdbcType=VARCHAR}, #{altitude,jdbcType=VARCHAR}, #{recordVelocity,jdbcType=VARCHAR}, #{gas,jdbcType=VARCHAR},
      #{mileage,jdbcType=VARCHAR}, #{valid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qfy.modules.city3d.po.VehicleRealData">
    insert into GPSRealData
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="iD != null">
        ID,
      </if>
      <if test="vehicleId != null">
        vehicleId,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="plateNo != null">
        plateNo,
      </if>
      <if test="simNo != null">
        simNo,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="sendTime != null">
        sendTime,
      </if>
      <if test="updateDate != null">
        updateDate,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="velocity != null">
        velocity,
      </if>
      <if test="direction != null">
        direction,
      </if>
      <if test="altitude != null">
        altitude,
      </if>
      <if test="recordVelocity != null">
        recordVelocity,
      </if>
      <if test="gas != null">
        gas,
      </if>
      <if test="mileage != null">
        mileage,
      </if>
      <if test="valid != null">
        valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="iD != null">
        #{iD,jdbcType=INTEGER},
      </if>
      <if test="vehicleId != null">
        #{vehicleId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="plateNo != null">
        #{plateNo,jdbcType=VARCHAR},
      </if>
      <if test="simNo != null">
        #{simNo,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null">
        #{sendTime,jdbcType=DATE},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=DATE},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="velocity != null">
        #{velocity,jdbcType=VARCHAR},
      </if>
      <if test="direction != null">
        #{direction,jdbcType=VARCHAR},
      </if>
      <if test="altitude != null">
        #{altitude,jdbcType=VARCHAR},
      </if>
      <if test="recordVelocity != null">
        #{recordVelocity,jdbcType=VARCHAR},
      </if>
      <if test="gas != null">
        #{gas,jdbcType=VARCHAR},
      </if>
      <if test="mileage != null">
        #{mileage,jdbcType=VARCHAR},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qfy.modules.city3d.po.VehicleRealDataExample" resultType="java.lang.Integer">
    select count(*) from GPSRealData
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update GPSRealData
    <set>
      <if test="record.iD != null">
        ID = #{record.iD,jdbcType=INTEGER},
      </if>
      <if test="record.vehicleId != null">
        vehicleId = #{record.vehicleId,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.plateNo != null">
        plateNo = #{record.plateNo,jdbcType=VARCHAR},
      </if>
      <if test="record.simNo != null">
        simNo = #{record.simNo,jdbcType=VARCHAR},
      </if>
      <if test="record.location != null">
        location = #{record.location,jdbcType=VARCHAR},
      </if>
      <if test="record.sendTime != null">
        sendTime = #{record.sendTime,jdbcType=DATE},
      </if>
      <if test="record.updateDate != null">
        updateDate = #{record.updateDate,jdbcType=DATE},
      </if>
      <if test="record.longitude != null">
        longitude = #{record.longitude,jdbcType=VARCHAR},
      </if>
      <if test="record.latitude != null">
        latitude = #{record.latitude,jdbcType=VARCHAR},
      </if>
      <if test="record.velocity != null">
        velocity = #{record.velocity,jdbcType=VARCHAR},
      </if>
      <if test="record.direction != null">
        direction = #{record.direction,jdbcType=VARCHAR},
      </if>
      <if test="record.altitude != null">
        altitude = #{record.altitude,jdbcType=VARCHAR},
      </if>
      <if test="record.recordVelocity != null">
        recordVelocity = #{record.recordVelocity,jdbcType=VARCHAR},
      </if>
      <if test="record.gas != null">
        gas = #{record.gas,jdbcType=VARCHAR},
      </if>
      <if test="record.mileage != null">
        mileage = #{record.mileage,jdbcType=VARCHAR},
      </if>
      <if test="record.valid != null">
        valid = #{record.valid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update GPSRealData
    set ID = #{record.iD,jdbcType=INTEGER},
      vehicleId = #{record.vehicleId,jdbcType=INTEGER},
      status = #{record.status,jdbcType=VARCHAR},
      plateNo = #{record.plateNo,jdbcType=VARCHAR},
      simNo = #{record.simNo,jdbcType=VARCHAR},
      location = #{record.location,jdbcType=VARCHAR},
      sendTime = #{record.sendTime,jdbcType=DATE},
      updateDate = #{record.updateDate,jdbcType=DATE},
      longitude = #{record.longitude,jdbcType=VARCHAR},
      latitude = #{record.latitude,jdbcType=INTEGER},
      velocity = #{record.velocity,jdbcType=INTEGER},
      direction = #{record.direction,jdbcType=TIMESTAMP},
      altitude = #{record.altitude,jdbcType=VARCHAR},
      recordVelocity = #{record.recordVelocity,jdbcType=VARCHAR},
      gas = #{record.gas,jdbcType=VARCHAR},
      mileage = #{record.mileage,jdbcType=VARCHAR},
      valid = #{record.valid,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfy.modules.city3d.po.VehicleRealData">
    update GPSRealData
    <set>
      <if test="iD != null">
        ID = #{iD,jdbcType=INTEGER},
      </if>
      <if test="vehicleId != null">
        vehicleId = #{vehicleId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="plateNo != null">
        plateNo = #{plateNo,jdbcType=VARCHAR},
      </if>
      <if test="simNo != null">
        simNo = #{simNo,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null">
        sendTime = #{sendTime,jdbcType=DATE},
      </if>
      <if test="updateDate != null">
        updateDate = #{updateDate,jdbcType=DATE},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="velocity != null">
        velocity = #{velocity,jdbcType=VARCHAR},
      </if>
      <if test="direction != null">
        direction = #{direction,jdbcType=VARCHAR},
      </if>
      <if test="altitude != null">
        altitude = #{altitude,jdbcType=VARCHAR},
      </if>
      <if test="recordVelocity != null">
        recordVelocity = #{recordVelocity,jdbcType=VARCHAR},
      </if>
      <if test="gas != null">
        gas = #{gas,jdbcType=VARCHAR},
      </if>
      <if test="mileage != null">
        mileage = #{mileage,jdbcType=VARCHAR},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=VARCHAR},
      </if>
    </set>
    where realdata_id = #{realdataId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfy.modules.city3d.po.VehicleRealData">
    update GPSRealData
    set vehicleId = #{vehicleId,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      plateNo = #{plateNo,jdbcType=VARCHAR},
      simNo = #{simNo,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      sendTime = #{sendTime,jdbcType=DATE},
      updateDate = #{updateDate,jdbcType=DATE},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=INTEGER},
      velocity = #{velocity,jdbcType=INTEGER},
      direction = #{direction,jdbcType=TIMESTAMP},
      altitude = #{altitude,jdbcType=VARCHAR},
      recordVelocity = #{recordVelocity,jdbcType=VARCHAR},
      gas = #{gas,jdbcType=VARCHAR},
      mileage = #{mileage,jdbcType=VARCHAR},
      valid = #{valid,jdbcType=VARCHAR}
    where ID = #{iD,jdbcType=INTEGER}
  </update>

</mapper>
